/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #1a1a1a;
  background-color: #f8f9fc;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-image: url('Assets/Hero-bg.png'); 
  margin-top: 76px;
  background-size: cover;
  background-position: center;
}
.logo {
  font-weight: bold;
  color: #3a00ff;
  font-size: 20px;
}

.btn {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #2a00cc;
}

.btn-signup {
  font-size: 14px;
}

/* Banner */
.banner {
  text-align: center;
  padding: 100px 20px;
  background-image: url('Assets/Hero-bg.png'); 
  background-position: center;
}

.banner h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

/* See It in Action Section */
.see-it-section {
  background-color: #f8f9fc;
  padding: 100px 20px;
}

.see-it-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 40px;
}

.see-it-text {
  flex: 1;
  min-width: 280px;
}

.see-it-text h2 {
  font-size: 28px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.see-it-text p {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
  max-width: 400px;
}

.btn-preview {
  font-size: 14px;
  background-color: #4E47FF;
  padding: 10px 20px;
  border-radius: 8px;
}

.see-it-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.see-it-image img {
  max-width: 100%;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
